
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
    --main-color: #818cf8;
    --second-color: #a21caf;
    --bg-color: #fafaf9;
    --second-bg-color: wheat;
    --pdg: 15px;
}

html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

svg {
    height: 30px;
    width: auto;
    color: black;
    fill: currentColor;
}

img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

ul {
    list-style: none;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: min-content 1fr;
}

/* navbar styling */

span {
    display: inline-block;
}

nav {
    background-color: var(--main-color);
    grid-area: 1 / 1 / 3 / 2;
    padding: var(--pdg);
}

nav ul {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 50px;
}

nav ul div li {
    display: flex;
    align-items: center;
    gap: var(--pdg);
    font-weight: 600;
    padding: 5px;
}

nav ul div:first-child li {
    grid-row: 1;
    margin-bottom: -20px;
}

nav ul li:nth-last-child(-n+3) {
    grid-row: 3 / 4;
}

/* header styling */

header {
    background-color: var(--second-bg-color);
    grid-area: 1 / 2 / 2 / 3;
}

.searchbar, .info {
    padding: var(--pdg);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: var(--pdg);
}

.searchbar{
    padding-bottom: 0;
}

.searchbar img {
    height: 50px;
    width: auto;
}

.searchbar > *, .info > * {
    display: flex;
    align-items: center;
    gap: var(--pdg);
    margin-left: 25px;
}

#search {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: 1px solid transparent;
    height: 25px;
    width: 80%;
    max-width: 500px;
}

button {
    background-color: var(--main-color);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    width: 80px;
    border-radius:2em;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    position: relative;
    box-shadow: rgb(0, 0, 0) 0px 3px 8px;
}

button:hover {
    top: -2px;
    cursor: pointer;
}

/* main section styling */

.main {
    padding: var(--pdg);
    background-color: var(--bg-color);
    grid-area: 2 / 2 / 3 / 3;
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, min-content);
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
}

.project-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    margin: 15px;
    padding: var(--pdg);
    background-color: var(--second-bg-color);
    border-left: 5px solid #7c2d12;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card p {
    margin-bottom: 30px;
}

.card-options {
    display: flex;
    justify-content: right;
    gap: var(--pdg);
}

/* announcements styling */

.announcements div {
    margin: 15px;
    padding: var(--pdg);
    background-color: var(--second-bg-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.announcements p {
    font-size: 0.8rem;
}

.line {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #f5f5f5;
}


